<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luca.prae_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_prae_app_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_prae_app_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu_pages.noticias.NoticiasActivity"
            android:label="@string/title_activity_noticias"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".menu_pages.noticias.NoticiaWebViewActivity"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name=".menu_pages.ajuda_de_custo.AjudaDeCustoActivity"
            android:label="@string/title_activity_ajuda_de_custo" />
        <activity
            android:name=".menu_pages.acolhimento_ao_estudante.AcolhimentoAoEstudanteActivity"
            android:label="@string/title_activity_acolhimento_ao_estudante" />
        <activity
            android:name=".menu_pages.bolsas_auxilios.BolsasAuxiliosActivity"
            android:label="@string/title_activity_bolsas_auxilio" />
        <activity
            android:name=".menu_pages.restaurante_universitario.RestauranteUniversitarioActivity"
            android:label="@string/title_activity_restaurante_universitario" />
        <activity
            android:name=".menu_pages.calendario_de_atividades.CalendarioDeAtividadesActivity"
            android:label="@string/title_activity_calendario_de_atividades" />
        <activity
            android:name=".menu_pages.mapa_da_prae.MapaDaPraeActivity"
            android:label="@string/title_activity_mapa_da_prae" />
        <activity
            android:name=".menu_pages.voce_sabia.VoceSabiaActivity"
            android:label="@string/title_activity_voce_sabia" />
        <activity
            android:name=".menu_pages.fale_conosco.FaleConoscoActivity"
            android:label="@string/title_activity_fale_conosco" />
        <activity
            android:name=".menu_pages.ajuda_de_custo.AjudaDeCustoDocumentacaoNecessariaActivity"
            android:label="@string/title_activity_ajuda_de_custo_documentacao_necessaria"></activity>
    </application>

</manifest>